@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Regular.eot');
    src: local('Advent Pro Regular'), local('AdventPro-Regular'),
        url('AdventPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-Regular.woff2') format('woff2'),
        url('AdventPro-Regular.woff') format('woff'),
        url('AdventPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-ExtraLight.eot');
    src: local('Advent Pro ExtraLight'), local('AdventPro-ExtraLight'),
        url('AdventPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-ExtraLight.woff2') format('woff2'),
        url('AdventPro-ExtraLight.woff') format('woff'),
        url('AdventPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Medium.eot');
    src: local('Advent Pro Medium'), local('AdventPro-Medium'),
        url('AdventPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-Medium.woff2') format('woff2'),
        url('AdventPro-Medium.woff') format('woff'),
        url('AdventPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Thin.eot');
    src: local('Advent Pro Thin'), local('AdventPro-Thin'),
        url('AdventPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-Thin.woff2') format('woff2'),
        url('AdventPro-Thin.woff') format('woff'),
        url('AdventPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-SemiBold.eot');
    src: local('Advent Pro SemiBold'), local('AdventPro-SemiBold'),
        url('AdventPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-SemiBold.woff2') format('woff2'),
        url('AdventPro-SemiBold.woff') format('woff'),
        url('AdventPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Bold.eot');
    src: local('Advent Pro Bold'), local('AdventPro-Bold'),
        url('AdventPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-Bold.woff2') format('woff2'),
        url('AdventPro-Bold.woff') format('woff'),
        url('AdventPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Light.eot');
    src: local('Advent Pro Light'), local('AdventPro-Light'),
        url('AdventPro-Light.eot?#iefix') format('embedded-opentype'),
        url('AdventPro-Light.woff2') format('woff2'),
        url('AdventPro-Light.woff') format('woff'),
        url('AdventPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

